input {
	background-color: #778899;
	border-radius: 24px;

}
body {
	background-image: url(images/background.jpg);
	color: #000000;
}
p.title {
	color: #000000;
}
h1.title {
	color: #000000;
	margin-top: 150px;
}
table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;

}
th {
	cursor: pointer;
	color: white;
	background-color: black;

}
 td {
	text-align: left;
	background-color: #778899;
	color: black;

}
title {
	margin: 0px auto; text-align: left;
}